<div class="header-confirm-booking">
  <div class="col">
    <h2 class="mt-2 text-center">{{'Header.ConfirmBookingList' | translate}}</h2>
  </div>
</div>


<div class="p-3" style="border: 1px solid">
  <div class="col">
    <div class="mt-2 text-center text-lg-center">
    </div>
  </div>
</div>

<div class="confirm-booking history-booking-table">
  <app-booking-history-element *ngFor="let ele of meals"
                               [bookings]="ele  | paginate: { id: 'server', itemsPerPage: 10, currentPage: p, totalItems: total }">

  </app-booking-history-element>


  <div class="row justify-content-center">
    <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
    <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
  </div>

</div>


