<div class="header-confirm-booking">
  <div class="col">
    <h2 class="mt-2 text-center">Find your table</h2>
    <div class="row text-center-flex">
      <div class="form-group">
        <select class="form-control" [ngModel]="_selectedSection" name="section" #selectedSection
                (ngModelChange)="onChangeSection($event)">
          <option value="" disabled>Select the type of meal</option>
          <option [id]="1" [value]="1">Breakfast</option>
          <option [id]="2" [value]="2">Lunch</option>
          <option [id]="3" [value]="3">Dinner</option>
        </select>
      </div>
      <div class="form-group">
        <div class="input-group">
          <input class="form-control"
                 [minDate]="startDate" [ngModel]="_bookingDate" ngbDatepicker #d="ngbDatepicker"
                 (ngModelChange)="onChangeBookingDate($event)"
                 (click)="d.toggle()"
                 name="bookingDate">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
              <i class="fa fa-calendar" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
      <div class="input-group-prepend ">
        <button class="btn btn-outline-secondary Search" type="submit"
                (click)="onSubmitFindTable(_bookingDate,selectedSection)"><i
          class="fa fa-search"
          aria-hidden="true"></i>
          Search
        </button>
      </div>
    </div>
  </div>
</div>


<div class="p-3" style="border: 1px solid">
  <div class="col">
    <div class="mt-2 text-center text-lg-center">
      <!--Tables for <b>{{selectedSection.options[selectedSection.selectedIndex].text}}</b>-->
      Tables for <b>{{_currentSection}}</b> on <b>{{_currentBookingDate | date:"fullDate"}}</b>
    </div>
  </div>
</div>

<div class="confirm-booking">
  <div class="row justify-content-around">
    <div class="col-5">
      <div style="flex-direction: row; display: flex; flex-wrap: wrap; justify-content: space-around; width: 100%;">
        <div *ngFor="let table of topLeft">
          <app-table-element [TableElement]="table"></app-table-element>
        </div>
      </div>
    </div>
    <div class="col-1  text-vertical text-lg-center">Entrance</div>
    <div class="col-6">
      <div
        style="flex-direction: row; display: flex; flex-wrap: wrap; justify-content: space-around; width: 100%;">
        <div *ngFor="let table of topRight;">
          <app-table-element [TableElement]="table"></app-table-element>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-around">
    <div class="col-6" style="border: 1px solid">
      Bar area
    </div>
    <div class="col-1 text-vertical text-lg-center">
      Entrance
    </div>
    <div class="col-5">
      <div
        style="flex-direction: row; display: flex; flex-wrap: wrap; justify-content: space-around; width: 100%;">
        <div *ngFor="let table of rightBar;let colId = index">
          <app-table-element [TableElement]="table"></app-table-element>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6 offset-md-6">
      <span><----- Toilet</span>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <div
        style="flex-direction: row; display: flex; flex-wrap: wrap; justify-content: space-around; width: 100%;">
        <div *ngFor="let table of leftKitchen;let colId = index">
          <app-table-element [TableElement]="table"></app-table-element>
        </div>
      </div>
    </div>
    <div class="col-1 text-vertical text-lg-center">Entrance</div>
    <div class="col-3">
      <div
        style="flex-direction: row; display: flex; flex-wrap: wrap; justify-content: space-around; width: 100%;">
        <div *ngFor="let table of rightKitchen;let colId = index">
          <app-table-element [TableElement]="table"></app-table-element>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-lg-center">
    <div class="col"><span>Kitchen</span></div>
  </div>
  <hr/>
  <br/>
</div>


<nav class="navbar navbar-expand navbar-light bg-light fixed-bottom" *ngIf="selectedTables.length >0">
  <div class="navbar-brand"></div>
  <div class="mr-3">
    <span>Selected tables <b>({{selectedTables.length}})</b>: <b>{{totalCustomers}} people</b></span>
  </div>
  <button class="btn btn-primary" (click)="onConfirmBooking()">Confirm Booking</button>
</nav>
