
.shape {
  display: flex;
  /*flex: 0 0 50px;*/
  background-color: #1565c0;
  height: 100px;
  width: 100px;
  /*margin: 15px;*/
  text-align: center;
}

.rectangular {
  border-radius: 5px;
}

.res-table {
  position: relative;
  padding: 10px;
  margin: 5px
}

.shape input[type="checkbox"] {
  /*position: absolute;*/
  /*opacity: 0;*/

}

.shape input[type="checkbox"]:checked + .shape {
  background-color: #bada55 !important;
}

.chair {
  border: 1px solid #000;
  position: absolute;
}

.chair-top {
  top: 0px;
  height: 10px;
}



.chair-bottom {
  bottom: 0px;
  height: 10px;
}

.single-center {
  left: 25%;
  width: 50%;
}
.double-right {
  right: 15%;
  width: 25%;
}
.double-left {
  left: 15%;
  width: 25%;
}

.chair-left {
  position: absolute;
  top: 25%;
  left: 0px;
  width: 10px;
  height: 50%;
}

.chair-right {
  top: 25%;
  right: 0px;
  width: 10px;
  height: 50%;
}

.table-number {
  position: absolute;
  font-weight: 500;
  color: #0f0f0f;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-vertical {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.form-group{
  padding:10px;
  margin:20px;
  width:30%;
  /* font-size:30px; */
  /* padding-left: 30px;
    padding-right: 30px; */

}

.box{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-family: "Gill Sans", sans-serif;
  
  /* background-color:#DCDCDC; */
  /* padding-right:15px; */
  padding:0px;
  margin:0px;
  /* width:300px; */
  /* height:100px; */
}

.Search{
  margin-left:25px;
  margin-right:25px;

}

.example-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Gill Sans", sans-serif;
  margin:0 auto;
}

.text-center-flex{
  align-items: center;
  justify-content: center;
}

.confirm-booking {
  border: 1px solid;
  padding: 15px;
  border-radius: 0 0 10px 10px;
}

.header-confirm-booking {
  border: 1px solid;
  border-radius: 15px 15px 0px 0px;
  padding: 10px;
}
