
.shape {
  display: flex;
  /*flex: 0 0 50px;*/
  background-color: #1565c0;
  height: 100px;
  width: 100px;
  /*margin: 15px;*/
  text-align: center;
}

.rectangular {
  border-radius: 5px;
}

.res-table {
  position: relative;
  padding: 10px;
  margin: 5px
}

.shape input[type="checkbox"] {
  /*position: absolute;*/
  /*opacity: 0;*/

}

.shape input[type="checkbox"]:checked + .shape {
  background-color: #bada55 !important;
}

.chair {
  border: 1px solid #000;
  position: absolute;
}

.chair-top {
  top: 0px;
  height: 10px;
}



.chair-bottom {
  bottom: 0px;
  height: 10px;
}

.single-center {
  left: 25%;
  width: 50%;
}
.double-right {
  right: 15%;
  width: 25%;
}
.double-left {
  left: 15%;
  width: 25%;
}

.chair-left {
  position: absolute;
  top: 25%;
  left: 0px;
  width: 10px;
  height: 50%;
}

.chair-right {
  top: 25%;
  right: 0px;
  width: 10px;
  height: 50%;
}

.table-number {
  position: absolute;
  font-weight: 500;
  color: #0f0f0f;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-vertical {
  writing-mode: vertical-rl;
  text-orientation: upright;
}













