<div class="horizontal-layout horizontal-menu 1-column   menu-expanded blank-page blank-page">
  <div class="app-content container center-layout mt-2">
    <div class="content-wrapper">
      <div class="content-header row">
      </div>
      <div class="content-body">
        <section class="flexbox-container">
          <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="col-md-4 col-10 box-shadow-2 p-0">
              <div class="card border-grey border-lighten-3 px-2 py-2 m-0">
                <div class="card-header border-0">
                  <div class="card-title text-center">
                    <img class="logo-custom" src="../../../../assets/images/tumvi-logo.png" alt="branding logo">
                  </div>
                  <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
                    <span>Create Account</span>
                  </h6>
                </div>
                <div class="card-content">
                  <div class="card-body">
                    <form class="form-horizontal form-simple" [formGroup]="signUpForm" (submit)="onSubmit()">
                      <fieldset class="form-group position-relative has-icon-left">
                        <input type="email" class="form-control form-control-lg" id="email"
                               placeholder="Your Email Address" formControlName="email"
                               required>
                        <div *ngIf="email.invalid && (email.dirty || email.touched)"
                             class="alert alert-danger">
                          <div *ngIf="email.errors.required">
                            Email is required.
                          </div>
                          <div *ngIf="email.errors.pattern">
                            Email is invalid.
                          </div>
                        </div>
                        <div class="form-control-position">
                          <i class="fa fa-envelope"></i>
                        </div>
                      </fieldset>
                      <fieldset class="form-group position-relative has-icon-left">
                        <input type="password" class="form-control form-control-lg" id="password"
                               placeholder="Enter Password" formControlName="password"
                               required>
                        <div *ngIf="password.invalid && (password.dirty || password.touched)"
                             class="alert alert-danger">
                          <div *ngIf="password.errors.required">
                            Password is required.
                          </div>
                        </div>
                        <div class="form-control-position">
                          <i class="fa fa-key"></i>
                        </div>
                      </fieldset>

                      <fieldset class="form-group position-relative has-icon-left">
                        <input type="text" class="form-control form-control-lg" id="firstName" placeholder="First name"
                               formControlName="firstName">
                        <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
                             class="alert alert-danger">
                          <div *ngIf="firstName.errors.required">
                            First name is required.
                          </div>
                        </div>
                        <div class="form-control-position">
                          <i class="fa fa-address-card"></i>
                        </div>
                      </fieldset>
                      <fieldset class="form-group position-relative has-icon-left">
                        <input type="text" class="form-control form-control-lg" id="lastName" placeholder="Last name"
                               formControlName="lastName">
                        <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
                             class="alert alert-danger">
                          <div *ngIf="lastName.errors.required">
                            First name is required.
                          </div>
                        </div>
                        <div class="form-control-position">
                          <i class="fa fa-address-card"></i>
                        </div>
                      </fieldset>
                      <fieldset class="form-group position-relative has-icon-left">
                        <input type="text" class="form-control form-control-lg" name="phoneNumber" id="phoneNumber"
                               formControlName="phoneNumber"
                               placeholder="Enter Phone Number">
                        <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)"
                             class="alert alert-danger">
                          <div *ngIf="phoneNumber.errors.required">
                            Email is required.
                          </div>
                          <div *ngIf="phoneNumber.errors.pattern">
                            Australia phone number is not valid 04-XXXXXXXX
                          </div>
                        </div>
                        <div class="form-control-position">
                          <i class="fa fa-phone"></i>
                        </div>
                      </fieldset>
                      <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="!signUpForm.valid"><i
                        class="ft-unlock"></i> Register
                      </button>
                    </form>
                  </div>
                  <!-- <p class="text-center">Already have an account ? <a [routerLink]="['/auth/signin']" class="card-link">Login</a></p> -->
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
