<div class="card">
  <div class="card-header text-center text-lg-center">
    Booking confirmation
  </div>
  <div class="card-body">
    <div class="row mb-4">
      <div class="col text-center">
        <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>
      </div>
  </div>
    <div class="row mb-4">
      <div class="offset-2 col-8" style="position: static">
        <div ngbDropdown class="d-inline-block w-100">
          <button class="btn btn-outline-primary w-100" id="dropdownBasic1" ngbDropdownToggle>2 people</button>
          <div ngbDropdownMenu class="dropdown-menu w-100 " aria-labelledby="dropdownBasic1">
            <button class="dropdown-item ">1 person</button>
            <button class="dropdown-item ">2 people</button>
            <button class="dropdown-item ">3 people</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-8 offset-1 text-center">
        <a class="btn btn-primary mr-2" (click)="open(content)">11:00</a>
        <a class="btn btn-primary mr-2" (click)="open(content)">13:00</a>
        <a class="btn btn-primary mr-2" (click)="open(content)">17:00</a>
        <a class="btn btn-primary mr-2" (click)="open(content)">19:00</a>
      </div>
    </div>
    <div class="row">
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirm the booking</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="row">
        <div class="col-4 text-center">
          <h4>Aug</h4>
          <h4>15</h4>
          <h4>Wed</h4>
        </div>
        <div class="col-8">
          <div class="row">
            <div class="col-1"><span>at</span></div>
            <div class="col"><h5>15:00</h5></div>
            <div class="col-1"><span>for</span></div>
            <div class="col"><h5>2 people</h5></div>
          </div>
          <div class="row">
            <div class="col-1"><span>At</span></div>
            <div class="col"><h5>Punchbowl Restaurant</h5></div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="c('Save click')">Confirm</button>
  </div>
</ng-template>

<!--<pre>{{closeResult}}</pre>-->
